<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><%= link_to "TRR", root_path %></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><%= link_to "Home", root_path, class: "nav-link scrollto" %></li>
          <li><%= link_to "About", about_path, class: "nav-link scrollto" %></li>
          <li><%= link_to "Profile", profile_path, class: "nav-link scrollto" %></li>
          <li><%= link_to "My Recipes", myRecipes_path, class: "nav-link scrollto" %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link scrollto" %></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
</header>
